<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs')  %>

<body>
    
   <%- include('nav.ejs') %> 
    <div class="not-found content"> 
        <h2>OOPS, page not found </h2>
    </div>
    <%- include('footer.ejs') %> 


</body>

</html>